.account-setting {
  min-height: 70vh;
}
.account-setting-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.account-setting-btn {
  font-size: 14px;
  line-height: 1.57;
  color: #202124;
  background: none;
  border: none;
  cursor: pointer;
  &.active {
    color: #ffa15f;
  }
}
.account-setting-panel {
  width: 481px;
  background-color: #f9f9f9;
  padding: 25px 50px;
}
.account-setting-change-pw {
  label {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: #202124;
  }
  button {
    width: 120px;
    height: 35px;
    background-color: #ffa15f;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
}
.account-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  color: #202124;
}
