.bottom-header {
  height: 45px;
  border-bottom: 1px solid #cecece;
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }
  .menu-item {
    height: 100%;
    &:hover {
      .menu-link {
        color: $main-color;
      }
      .menu-link+.submenu {
        display: flex;
      }
    }
  }
  .menu-link {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #202124;
    padding: 0 10px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    &:hover {
      text-decoration: none;
    }
  }
  .submenu {
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #fbfbfb;
    border: solid 0.5px #eaeaea;
    z-index: 1;
    animation: fadeIn .5s ease;
    display: none;
    .submenu-link {
      font-size: 14px;
      color: #202124;
      font-weight: normal;
      padding: 16px 20px;
      display: inline-block;
      &:hover {
        color: $main-color;
        text-decoration: none;
      }
    }
  }
}