.cart-wrapper {
  position: absolute;
  top: 180%;
  right: 0;
  width: 270px;
  box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
  background-color: #fbfbfb;
  border: solid 0.5px #eaeaea;
  z-index: 10;
  display: none;
  &.show {
    display: block;
  }
  .row-wrapper {
    border-bottom: 1px solid #ececec;
  }
  .cart__product-name {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    color: #4d4d4d;
    margin-bottom: 5px;
  }
  .cart__product-price {
    font-size: 12px;
    line-height: 1.83;
    color: #4d4d4d;
    margin-bottom: 0;
  }
  .cart__product-group-info {
    opacity: 0.4;
    font-size: 12px;
    line-height: 1.83;
    color: #202124;
    margin-bottom: 0;
  }
  .cart__product-thumb {
    display: block;
    margin: 0 auto;
  }
  .cart-button {
    height: 70px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    color: #ffa15f;
  }
}
