.checkout-container {
  background: #f9f9f9;
  padding: 32px 30px;
  p {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.57;
    color: #202124;
  }
}

.My-Bag {
  font-size: 24px;
  line-height: 1.33;
  color: #202124;
}

.total {
  font-size: 14px;
  font-weight: bold;
}
.table-cart {
  img {
    width: 80px;
  }
  .table-cart-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    margin: auto;
  }
  tr:first-of-type {
    color: #202124;
    font-size: 14px;
  }
  td {
    vertical-align: middle;
  }
  .table-cart-name {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    color: #202124;
  }
  .table-cart-btn-control {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    margin-right: 1rem;
  }
}
