.size-checkbox {
  margin-right: 1rem;
  margin-bottom: 0;
  & > span {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-weight: bold;
    color: #202124;
    background: white;
    border: solid 1px #808080;
  }
  input:checked + span {
    border: solid 1px orange;
    color: white;
    background: orange;
  }
}

.color-checkbox {
  margin-right: 18px;
  margin-bottom: 8px;
  & > span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
  }
  input:checked + span {
    border: solid 3px gray;
  }
}

.brand-checkbox {
  height: 35px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  cursor: pointer;
  .brand-checkbox-label {
    font-size: 14px;
    line-height: 1.57;
    font-weight: normal;
    color: #4d4d4d;
  }
  input:checked {
    & ~ .brand-checkbox-sticker {
      background: url(../images/checkbox/check-box.png) center no-repeat;
      background-size: 28px 28px;
      border: none;
    }
    & ~ .brand-checkbox-label {
      font-weight: 600;
      color: #ffa15f;
    }
  }
  .brand-checkbox-sticker {
    display: block;
    width: 20px;
    height: 20px;
    border: solid 1px #d4d3d3;
  }
}
