footer {
  padding-top: 50px;
  border-top: 1px solid rgba(#202124, 0.12);
  
}
.footer-list {
  margin: 0 0 45px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  .footer-item {
    padding: 0 18px;
  }
}
.footer-link {
  font-size: 14px;
  line-height: 1.57;
  color: #b7b7b7;
  display: inline-block;
}
.footer-social {
  color: #b7b7b7;
  font-size: 24px;
  text-align: right;
  .fa {
    padding: 0 5px;
  }
}
.footer-bottom {
  padding: 24px 0;
  .footer-list {
    margin-bottom: 0;
    .footer-item:first-of-type {
      padding-left: 0;
    }
  }
}