.hero-banner {
  margin-top: 37px;
  position: relative;
  .hero-banner-title {
    font-family: Domine;
    font-size: 48px;
    font-weight: bold;
    line-height: 0.94;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 71px;
    right: 83px;
    text-transform: uppercase;
  }
  .btn {
    position: absolute;
    bottom: 47px;
    right: 73px;
  }
}