.login-popup {
  position: relative;
  width: 555px;
  background-color: #fff;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
  padding-top: 1px;
  .login-popup-inner {
    margin: 0 80px;
  }
  .login-popup-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #202124;
    margin-bottom: 35px;
    margin-top: 47px;
  }
  .login-label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: #202124;
  }
  .login-input {
    height: 46px;
    background-color: #f6f6f6;
    font-size: 14px;
    font-weight: 500;
    line-height: 46px;
    color: #202124;
    border: none;
    padding: 0 24px;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    &:valid {
      border: solid 1px #b7b7b7;
      outline: none;
    }
  }
  .login-popup-button {
    height: 50px;
    background-color: #ffa15f;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 53px;
    cursor: pointer;
    &:disabled,
    &[disabled] {
      background-color: #d4d3d3;
    }
  }
  .login-close {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #b7b7b7;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
}
.remember-pw {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4d4d4d;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  input:checked ~ .checkmark {
    background-color: #ffa15f;
  }
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.forgot-pw {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #4d4d4d;
  margin-top: 3px;
  display: inline-block;
}
