.Modal {
  position: static;
  background: none;
}
.ModalOverlay {
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#202124, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}