.product-container {
  padding-bottom: 20px;
  &:hover {
    .product-image {
      transform: scale(1.05);
    }
    .product-cta {
      display: block;
    }
    .product-status {
      display: none;
    }
  }
  .product-image {
    width: 100%;
    cursor: pointer;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .product-name {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    color: #202124;
    color: var(--dark-grey);
    margin-top: 10px;
  }
  .product-price {
    font-size: 12px;
    line-height: 1.83;
    color: #4d4d4d;
  }
  .product-status {
    width: 60px;
    height: 22px;
    background-color: #808080;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    display: block;
    text-align: center;
    color: #ffffff;
    color: var(--white);
    position: absolute;
    bottom: 8px;
    left: -4px;
    z-index: 1;
  }
  .product-image-container {
    position: relative;
  }
  .product-image-wrapper {
    overflow: hidden;
    height: 0;
    padding-bottom: calc(100% * 4 / 3);
    position: relative;
  }
  .product-cta {
    position: absolute;
    display: none;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    border: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    background: $main-color;
    color: #ffffff;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
    animation: fadeIn .5s ease;
    &:focus, &:active {
      box-shadow: none;
      outline: none;
    }
  }
}

.product-col {
  max-width: 20%;
  padding: 0 10px;
  flex-basis: 20%;
}

.product-list>.row {
  margin-left: -10px;
  margin-right: -10px;
}