.product-name {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  color: #202124;
}
.product-price {
  margin-bottom: 54px;
}
.product-label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  color: #202124;
  &+div {
    margin-bottom: 28px;
  }
}
.thumb-img-wrapper {
  width: 80px;
}