aside {
  margin-right: 20px;
}
.sidebar-label {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #202124;
  margin-bottom: 30px;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebar-item {
  padding: 9px 0;
}
.sidebar-link {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.57;
  color: #4d4d4d;
  display: inline-block;
  &:hover, &.active {
    color: $main-color;
    text-decoration: none
  }
}
.sidebar-item-accordion {
  border-bottom: 1px solid #ccc;
}
.sidebar-accordion {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.57;
  color: #202124;
  color: var(--dark-grey);
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 9px 0;
  cursor: pointer;
  &:hover, &:active {
    box-shadow: none;
    outline: none;
    color: $main-color;
    text-decoration: none
  }
  &:focus {
    outline: none;
  }
  &.active {
    font-weight: bold;
  }
}
.sidebar-item-accordion-content {
  display: none;
  padding: 15px 0;
  border-top: 1px dashed #ccc;
  &.show {
    display: block;
  }
}