.slider-banner-container {
  margin-top: 20px;
  margin-bottom: 37px;
}
.slider-banner-wrapper {
  position: relative;
  .slider-label-group {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 0 32px 24px;
    h4 {
      font-family: Domine;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      color: #ffffff;
      margin-bottom: 0;
    }
    hr {
      border-color: white;
    }
  }
  img {
    display: block;
    width: 100%;
  }
}