.top-header {
  border-bottom: 1px solid #cecece;
  .container {
    height: 69px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    text-align: center;
  }
  .search-input-wrapper {
    position: relative;
    img {
      position: absolute;
      top: 50%;
      right: 12px;
      width: 24px;
      margin-top: -12px;
      cursor: pointer;
    }
  }
  .search-input {
    width: 181px;
    height: 35px;
    border-radius: 17px;
    border: solid 1px #b7b7b7;
    padding: 0 40px 0 10px;
    outline: none;
  }
  .login-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .avatar-container {
      position: relative;
      .avatar {
        overflow: hidden;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .avatar-control {
        position: absolute;
        top: 180%;
        right: 0;
        box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
        background-color: #fbfbfb;
        border: 1px solid #eaeaea;
        width: 180px;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 1;
        display: none;
        &.show {
          display: block;
        }
      }

      .avatar-item {
        &:last-of-type {
          .avatar-link {
            border-bottom: none;
          }
        }
      }
      
      .avatar-link {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        color: #4d4d4d;
        display: block;
        padding: 7px 13px;
        border-bottom: 1px solid #ececec;
        &:hover {
          text-decoration: none;
          color: $main-color;
        }
      }
    }
  }
  .shopping-group {
    text-decoration: none;
    position: relative;
    margin-left: 20px;
    span {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      line-height: 12px;
      text-align: center;
      font-size: 12px;
      color: white;
      background-color: $main-color;
    }
  }
}