
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  -webkit-text-size-adjust: auto;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
}
hr {
  margin: 0;
  padding: 0;
}

.page-current-url {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #202124;
  margin-top: 30px;
  margin-bottom: 40px;
}