button {
  &:focus, &:active {
    outline: none;
  }
}
.btn {
  font-family: Montserrat;
  width: 140px;
  height: 40px;
  color: $main-color;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background-color: $main-color;
  color: white;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  &:hover {
    color: white;
  }
  &.btn-bigger {
    width: 180px;
    height: 49px;
  }
}
.outline-btn {
  border-radius: 100px;
  width: 120px;
  height: 35px;
  background-color: #fff;
  color: $main-color;
  border: solid 1px $main-color;
  box-shadow: none;
  &:hover {
    color: $main-color;
  }
}
.register-btn {
  padding-right: 20px;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4d4d4d;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &:active,
  &:focus {
    outline: none;
  }
}
.paging-btn {
  border: none;
  background: none;
  cursor: pointer;
  * {
    pointer-events: none;
  }
  // &.hide {
  //   display: none;
  // }
}

.add-to-cart-button {
  cursor: pointer;
  background-color: #5f6dff;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  height: 50px;
  border: none;
  outline: none;
  display: inline-block;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  &:active {
    transform: translateY(2px);
  }
}
.quantity {
  border: solid 1px #d4d3d3;
  height: 42px;
  width: auto;
  .btn-clean {
    border: none;
    background: none;
    cursor: pointer;
    width: 42px;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: bold;
  }
  .form-control {
    border: none;
    outline: none;
    width: 60px;
    flex-basis: 60px;
    height: 100%;
    text-align: center;
    &:focus {
      box-shadow: none;
    }
  }
}


.btn-checkout {
  width: 100%;
  height: 49px;
  background-color: #ff5f6d;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  &:active {
    transform: translateY(2px);
  }
}