@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  -webkit-text-size-adjust: auto; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0; }

img {
  max-width: 100%; }

hr {
  margin: 0;
  padding: 0; }

.page-current-url {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #202124;
  margin-top: 30px;
  margin-bottom: 40px; }

button:focus, button:active {
  outline: none; }

.btn {
  font-family: Montserrat;
  width: 140px;
  height: 40px;
  color: #ffa15f;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background-color: #ffa15f;
  color: white;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12); }
  .btn:hover {
    color: white; }
  .btn.btn-bigger {
    width: 180px;
    height: 49px; }

.outline-btn {
  border-radius: 100px;
  width: 120px;
  height: 35px;
  background-color: #fff;
  color: #ffa15f;
  border: solid 1px #ffa15f;
  box-shadow: none; }
  .outline-btn:hover {
    color: #ffa15f; }

.register-btn {
  padding-right: 20px;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4d4d4d;
  text-decoration: none;
  background: none;
  border: none;
  outline: none; }
  .register-btn:hover {
    text-decoration: underline;
    cursor: pointer; }
  .register-btn:active, .register-btn:focus {
    outline: none; }

.paging-btn {
  border: none;
  background: none;
  cursor: pointer; }
  .paging-btn * {
    pointer-events: none; }

.add-to-cart-button {
  cursor: pointer;
  background-color: #5f6dff;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  height: 50px;
  border: none;
  outline: none;
  display: inline-block;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 16px; }
  .add-to-cart-button:active {
    transform: translateY(2px); }

.quantity {
  border: solid 1px #d4d3d3;
  height: 42px;
  width: auto; }
  .quantity .btn-clean {
    border: none;
    background: none;
    cursor: pointer;
    width: 42px;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: bold; }
  .quantity .form-control {
    border: none;
    outline: none;
    width: 60px;
    flex-basis: 60px;
    height: 100%;
    text-align: center; }
    .quantity .form-control:focus {
      box-shadow: none; }

.btn-checkout {
  width: 100%;
  height: 49px;
  background-color: #ff5f6d;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold; }
  .btn-checkout:active {
    transform: translateY(2px); }

.top-header {
  border-bottom: 1px solid #cecece; }
  .top-header .container {
    height: 69px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
  .top-header .logo {
    text-align: center; }
  .top-header .search-input-wrapper {
    position: relative; }
    .top-header .search-input-wrapper img {
      position: absolute;
      top: 50%;
      right: 12px;
      width: 24px;
      margin-top: -12px;
      cursor: pointer; }
  .top-header .search-input {
    width: 181px;
    height: 35px;
    border-radius: 17px;
    border: solid 1px #b7b7b7;
    padding: 0 40px 0 10px;
    outline: none; }
  .top-header .login-group {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .top-header .login-group .avatar-container {
      position: relative; }
      .top-header .login-group .avatar-container .avatar {
        overflow: hidden;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer; }
        .top-header .login-group .avatar-container .avatar img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .top-header .login-group .avatar-container .avatar-control {
        position: absolute;
        top: 180%;
        right: 0;
        box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
        background-color: #fbfbfb;
        border: 1px solid #eaeaea;
        width: 180px;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 1;
        display: none; }
        .top-header .login-group .avatar-container .avatar-control.show {
          display: block; }
      .top-header .login-group .avatar-container .avatar-item:last-of-type .avatar-link {
        border-bottom: none; }
      .top-header .login-group .avatar-container .avatar-link {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.83;
        color: #4d4d4d;
        display: block;
        padding: 7px 13px;
        border-bottom: 1px solid #ececec; }
        .top-header .login-group .avatar-container .avatar-link:hover {
          text-decoration: none;
          color: #ffa15f; }
  .top-header .shopping-group {
    text-decoration: none;
    position: relative;
    margin-left: 20px; }
    .top-header .shopping-group span {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      line-height: 12px;
      text-align: center;
      font-size: 12px;
      color: white;
      background-color: #ffa15f; }

.bottom-header {
  height: 45px;
  border-bottom: 1px solid #cecece; }
  .bottom-header .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative; }
  .bottom-header .menu-item {
    height: 100%; }
    .bottom-header .menu-item:hover .menu-link {
      color: #ffa15f; }
    .bottom-header .menu-item:hover .menu-link + .submenu {
      display: flex; }
  .bottom-header .menu-link {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #202124;
    padding: 0 10px;
    height: 100%;
    display: inline-flex;
    align-items: center; }
    .bottom-header .menu-link:hover {
      text-decoration: none; }
  .bottom-header .submenu {
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #fbfbfb;
    border: solid 0.5px #eaeaea;
    z-index: 1;
    animation: fadeIn .5s ease;
    display: none; }
    .bottom-header .submenu .submenu-link {
      font-size: 14px;
      color: #202124;
      font-weight: normal;
      padding: 16px 20px;
      display: inline-block; }
      .bottom-header .submenu .submenu-link:hover {
        color: #ffa15f;
        text-decoration: none; }

.hero-banner {
  margin-top: 37px;
  position: relative; }
  .hero-banner .hero-banner-title {
    font-family: Domine;
    font-size: 48px;
    font-weight: bold;
    line-height: 0.94;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 71px;
    right: 83px;
    text-transform: uppercase; }
  .hero-banner .btn {
    position: absolute;
    bottom: 47px;
    right: 73px; }

.slider-banner-container {
  margin-top: 20px;
  margin-bottom: 37px; }

.slider-banner-wrapper {
  position: relative; }
  .slider-banner-wrapper .slider-label-group {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 0 32px 24px; }
    .slider-banner-wrapper .slider-label-group h4 {
      font-family: Domine;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      color: #ffffff;
      margin-bottom: 0; }
    .slider-banner-wrapper .slider-label-group hr {
      border-color: white; }
  .slider-banner-wrapper img {
    display: block;
    width: 100%; }

footer {
  padding-top: 50px;
  border-top: 1px solid rgba(32, 33, 36, 0.12); }

.footer-list {
  margin: 0 0 45px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center; }
  .footer-list .footer-item {
    padding: 0 18px; }

.footer-link {
  font-size: 14px;
  line-height: 1.57;
  color: #b7b7b7;
  display: inline-block; }

.footer-social {
  color: #b7b7b7;
  font-size: 24px;
  text-align: right; }
  .footer-social .fa {
    padding: 0 5px; }

.footer-bottom {
  padding: 24px 0; }
  .footer-bottom .footer-list {
    margin-bottom: 0; }
    .footer-bottom .footer-list .footer-item:first-of-type {
      padding-left: 0; }

aside {
  margin-right: 20px; }

.sidebar-label {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #202124;
  margin-bottom: 30px; }

.sidebar-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.sidebar-item {
  padding: 9px 0; }

.sidebar-link {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.57;
  color: #4d4d4d;
  display: inline-block; }
  .sidebar-link:hover, .sidebar-link.active {
    color: #ffa15f;
    text-decoration: none; }

.sidebar-item-accordion {
  border-bottom: 1px solid #ccc; }

.sidebar-accordion {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.57;
  color: #202124;
  color: var(--dark-grey);
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 9px 0;
  cursor: pointer; }
  .sidebar-accordion:hover, .sidebar-accordion:active {
    box-shadow: none;
    outline: none;
    color: #ffa15f;
    text-decoration: none; }
  .sidebar-accordion:focus {
    outline: none; }
  .sidebar-accordion.active {
    font-weight: bold; }

.sidebar-item-accordion-content {
  display: none;
  padding: 15px 0;
  border-top: 1px dashed #ccc; }
  .sidebar-item-accordion-content.show {
    display: block; }

.product-container {
  padding-bottom: 20px; }
  .product-container:hover .product-image {
    transform: scale(1.05); }
  .product-container:hover .product-cta {
    display: block; }
  .product-container:hover .product-status {
    display: none; }
  .product-container .product-image {
    width: 100%;
    cursor: pointer;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%; }
  .product-container .product-name {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    color: #202124;
    color: var(--dark-grey);
    margin-top: 10px; }
  .product-container .product-price {
    font-size: 12px;
    line-height: 1.83;
    color: #4d4d4d; }
  .product-container .product-status {
    width: 60px;
    height: 22px;
    background-color: #808080;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    display: block;
    text-align: center;
    color: #ffffff;
    color: var(--white);
    position: absolute;
    bottom: 8px;
    left: -4px;
    z-index: 1; }
  .product-container .product-image-container {
    position: relative; }
  .product-container .product-image-wrapper {
    overflow: hidden;
    height: 0;
    padding-bottom: calc(100% * 4 / 3);
    position: relative; }
  .product-container .product-cta {
    position: absolute;
    display: none;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    border: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    background: #ffa15f;
    color: #ffffff;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
    animation: fadeIn .5s ease; }
    .product-container .product-cta:focus, .product-container .product-cta:active {
      box-shadow: none;
      outline: none; }

.product-col {
  max-width: 20%;
  padding: 0 10px;
  flex-basis: 20%; }

.product-list > .row {
  margin-left: -10px;
  margin-right: -10px; }

.size-checkbox {
  margin-right: 1rem;
  margin-bottom: 0; }
  .size-checkbox > span {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-weight: bold;
    color: #202124;
    background: white;
    border: solid 1px #808080; }
  .size-checkbox input:checked + span {
    border: solid 1px orange;
    color: white;
    background: orange; }

.color-checkbox {
  margin-right: 18px;
  margin-bottom: 8px; }
  .color-checkbox > span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    cursor: pointer; }
  .color-checkbox input:checked + span {
    border: solid 3px gray; }

.brand-checkbox {
  height: 35px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  cursor: pointer; }
  .brand-checkbox .brand-checkbox-label {
    font-size: 14px;
    line-height: 1.57;
    font-weight: normal;
    color: #4d4d4d; }
  .brand-checkbox input:checked ~ .brand-checkbox-sticker {
    background: url(../images/checkbox/check-box.png) center no-repeat;
    background-size: 28px 28px;
    border: none; }
  .brand-checkbox input:checked ~ .brand-checkbox-label {
    font-weight: 600;
    color: #ffa15f; }
  .brand-checkbox .brand-checkbox-sticker {
    display: block;
    width: 20px;
    height: 20px;
    border: solid 1px #d4d3d3; }

.login-popup {
  position: relative;
  width: 555px;
  background-color: #fff;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
  padding-top: 1px; }
  .login-popup .login-popup-inner {
    margin: 0 80px; }
  .login-popup .login-popup-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #202124;
    margin-bottom: 35px;
    margin-top: 47px; }
  .login-popup .login-label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: #202124; }
  .login-popup .login-input {
    height: 46px;
    background-color: #f6f6f6;
    font-size: 14px;
    font-weight: 500;
    line-height: 46px;
    color: #202124;
    border: none;
    padding: 0 24px;
    display: block;
    width: 100%;
    margin-bottom: 24px; }
    .login-popup .login-input:valid {
      border: solid 1px #b7b7b7;
      outline: none; }
  .login-popup .login-popup-button {
    height: 50px;
    background-color: #ffa15f;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 53px;
    cursor: pointer; }
    .login-popup .login-popup-button:disabled, .login-popup .login-popup-button[disabled] {
      background-color: #d4d3d3; }
  .login-popup .login-close {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #b7b7b7;
    cursor: pointer;
    background: none;
    border: none;
    outline: none; }

.remember-pw {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4d4d4d;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none; }
  .remember-pw input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .remember-pw .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee; }
  .remember-pw:hover input ~ .checkmark {
    background-color: #ccc; }
  .remember-pw input:checked ~ .checkmark {
    background-color: #ffa15f; }
  .remember-pw .checkmark:after {
    content: '';
    position: absolute;
    display: none; }
  .remember-pw input:checked ~ .checkmark:after {
    display: block; }
  .remember-pw .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }

.forgot-pw {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: #4d4d4d;
  margin-top: 3px;
  display: inline-block; }

.Modal {
  position: static;
  background: none; }

.ModalOverlay {
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 33, 36, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; }

.product-name {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  color: #202124; }

.product-price {
  margin-bottom: 54px; }

.product-label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  color: #202124; }
  .product-label + div {
    margin-bottom: 28px; }

.thumb-img-wrapper {
  width: 80px; }

.cart-wrapper {
  position: absolute;
  top: 180%;
  right: 0;
  width: 270px;
  box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
  background-color: #fbfbfb;
  border: solid 0.5px #eaeaea;
  z-index: 10;
  display: none; }
  .cart-wrapper.show {
    display: block; }
  .cart-wrapper .row-wrapper {
    border-bottom: 1px solid #ececec; }
  .cart-wrapper .cart__product-name {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    color: #4d4d4d;
    margin-bottom: 5px; }
  .cart-wrapper .cart__product-price {
    font-size: 12px;
    line-height: 1.83;
    color: #4d4d4d;
    margin-bottom: 0; }
  .cart-wrapper .cart__product-group-info {
    opacity: 0.4;
    font-size: 12px;
    line-height: 1.83;
    color: #202124;
    margin-bottom: 0; }
  .cart-wrapper .cart__product-thumb {
    display: block;
    margin: 0 auto; }
  .cart-wrapper .cart-button {
    height: 70px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    color: #ffa15f; }

.checkout-container {
  background: #f9f9f9;
  padding: 32px 30px; }
  .checkout-container p {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.57;
    color: #202124; }

.My-Bag {
  font-size: 24px;
  line-height: 1.33;
  color: #202124; }

.total {
  font-size: 14px;
  font-weight: bold; }

.table-cart img {
  width: 80px; }

.table-cart .table-cart-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  margin: auto; }

.table-cart tr:first-of-type {
  color: #202124;
  font-size: 14px; }

.table-cart td {
  vertical-align: middle; }

.table-cart .table-cart-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  color: #202124; }

.table-cart .table-cart-btn-control {
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  margin-right: 1rem; }

.account-setting {
  min-height: 70vh; }

.account-setting-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.account-setting-btn {
  font-size: 14px;
  line-height: 1.57;
  color: #202124;
  background: none;
  border: none;
  cursor: pointer; }
  .account-setting-btn.active {
    color: #ffa15f; }

.account-setting-panel {
  width: 481px;
  background-color: #f9f9f9;
  padding: 25px 50px; }

.account-setting-change-pw label {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  color: #202124; }

.account-setting-change-pw button {
  width: 120px;
  height: 35px;
  background-color: #ffa15f;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold; }

.account-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  color: #202124; }
